{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Détails de {{ salarie.prenom }} {{ salarie.nom }}</title>{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'MyAnnuaire/css/style.css' %}">
<body>
    <h1>{{ salarie.prenom }} {{ salarie.nom }}</h1>

    <p><strong>Nom :</strong> {{ salarie.nom }}</p>
    <p><strong>Prénom :</strong> {{ salarie.prenom }}</p>
    {% if salarie.telephone_fixe %}
        <p><strong>Téléphone fixe :</strong> {{ salarie.telephone_fixe }}</p>
    {% endif %}
    <p><strong>Téléphone portable :</strong> {{ salarie.telephone_portable }}</p>
    <p><strong>Email :</strong> {{ salarie.email }}</p>
    {% if salarie.service %}
        <p><strong>Service :</strong> {{ salarie.service.nom }}</p>
    {% endif %}
    {% if salarie.site %}
        <p><strong>Site :</strong> {{ salarie.site.ville }}</p>
    {% endif %}

    <p><a href="{% url 'liste_salaries' %}">Retour à la liste des salariés</a></p>
</body>
</html>